.button-container {
    display: flex;
    justify-content: center;
}
.card__button {
    background-color: var(--color-primary-bright-yellow);
    color: var(--color-neutral-light-gray);
    height: 3rem;
    width: 80%;
    border: 0;
    border-radius: .25rem;
    cursor: pointer;
    font-weight: bold;
}