// clases reutilizables
.l-container {
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
}
.center-content {
    text-align: center;
}
//header 
.main-header {
    margin: 1.2rem;

    &__text {
        margin-bottom: 2.2rem;
        line-height: 1.5;
    }
}
//main-card
.main-card {
    padding: 0;
}
.card--subscription {
    padding: 1rem;
}
.card__title {
    
}
.card__price {
    margin-top: 1rem;
    margin-bottom: .8rem;
    display: flex;
    align-items: center;
    
    span {
        padding-left: 1rem;
    }
}
.card__text--subscription {
    margin-bottom: 2rem;
}
.card__button {
    margin-bottom: .7rem;
}
.card--about {
    padding: 1rem;
}
.card--about__text {
    margin-top: .3rem;
    margin-bottom: .3rem;
}