:root {
  --color-primary-cyan: hsl(179,62%,43%);
  --color-secondary-cyan: hsl(179,40%,60%);
  --color-primary-bright-yellow: hsl(71,73%,54%);
  --color-neutral-light-gray: hsl(204, 43%, 93%);
  --color-neutral-grayish-blue: hsl(218, 22%, 67%); }

:root {
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.2rem
    --body-font-size: .9rem;
  --small-font-size: .75rem; }
  @media screen and (min-width: 1024px) {
    :root {
      --h1-font-size: 2.5rem;
      --h2-font-size: 1.75rem;
      --h3-font-size: 1.5rem;
      --body-font-size: 1rem;
      --small-font-size: .8rem; } }

*, *::before, *::after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-size: var(--body-font-size); }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

h1 {
  font-size: var(--h1-font-size); }

h2 {
  font-size: var(--h2-font-size); }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.main-header__title {
  color: var(--color-primary-cyan);
  font-size: var(--h2-font-size); }

.main-header__subtitle {
  color: var(--color-primary-bright-yellow);
  font-size: var(--h3-font-size); }

.main-header__text {
  color: var(--color-neutral-grayish-blue);
  font-size: var(--h3-font-size); }

.main-card {
  padding: 1rem; }

.card--subscription {
  background-color: var(--color-primary-cyan); }

.card__text--subscription {
  color: var(--color-neutral-light-gray); }

.card__title {
  color: var(--color-neutral-light-gray); }

.card__price {
  color: var(--color-neutral-light-gray);
  font-size: var(--h1-font-size);
  font-weight: bold; }
  .card__price span {
    font-size: initial;
    opacity: .5; }

.card--about {
  background-color: var(--color-secondary-cyan); }

.card--about__text {
  color: var(--color-neutral-light-gray); }

.l-container {
  margin-left: auto;
  margin-right: auto;
  width: 100vw; }

.center-content {
  text-align: center; }

.main-header {
  margin: 1.2rem; }
  .main-header__text {
    margin-bottom: 2.2rem;
    line-height: 1.5; }

.main-card {
  padding: 0; }
  @media screen and (min-width: 1024px) {
    .main-card {
      display: grid;
      grid-template-columns: repeat(2, 1fr); } }

.card--subscription {
  padding: 1rem; }
  @media screen and (min-width: 1024px) {
    .card--subscription {
      padding: 2.5rem; } }

.card__price {
  margin-top: 1rem;
  margin-bottom: .8rem;
  display: flex;
  align-items: center; }
  .card__price span {
    padding-left: 1rem; }

.card__text--subscription {
  margin-bottom: 2rem; }

.card__button {
  margin-bottom: .7rem; }

.card--about {
  padding: 1rem; }
  @media screen and (min-width: 1024px) {
    .card--about {
      padding: 2.5rem; } }

.card--about__text {
  margin-top: .3rem;
  margin-bottom: .3rem; }

.button-container {
  display: flex;
  justify-content: center; }

.card__button {
  background-color: var(--color-primary-bright-yellow);
  color: var(--color-neutral-light-gray);
  height: 3rem;
  width: 80%;
  border: 0;
  border-radius: .25rem;
  cursor: pointer;
  font-weight: bold; }
  .card__button:hover {
    background-color: #d0e085; }
